.ActiveQuiz {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 3px;
}

.QuizCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.QuizAnswer {
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}
